
/*GENERAL*/

body{
	margin:0px;
}


/*HEADER*/

#header{


	margin: 0px;
	height: 15%;

	margin: 0px;
	padding-top: 0.5%;
	padding-left: 1.5%;
	padding-bottom: 1%;

	background: #7F7656;
}


h1{
	background: #7F7656;

	font-family: 'Hind';
	color: white;

	margin: 0px;
}

#header a{
	font-family:'Hind';
	color:white;
}


/*WRAPPER*/

#wrapper{
	min-height:100%;
	height: 100%;
}

/*CONTENT*/ 

#content{
	background: #85A2B2;

	padding-bottom: 5%;

	margin: 0px;
}

#game_background{

	background: white;
	border: solid black;

	width: 500px;
	height: 500px;

	margin-left: auto;
	margin-right: auto;

	font-family: 'Hind';

}

.row{
	position: relative;


	width: 480px;
	height: 120px;

	float: left;

	margin-left: 10px;
}

#row_1{
	margin-top: 10px;
}


/* BOX Styling 

Note to self: could have created one box class to handle all similar elements and then change specific styles with sub classes;

*/

.box_empty{

	position: relative;

	/*background:lightgrey; */
	/*border: black solid; */
	border-width: 1px;
	border-radius: 15px;

	width: 98px;
	height: 98px;

	margin: 10px;

	float: left;
}

.box_2_gen{

	animation-duration: 0.25s;
	animation-name: createBox;

	position: relative;

	background: #FFEDAD;

	border: black solid;
	border-width: 1px;
	border-radius: 15px;

	width: 98px;
	height: 98px;

	margin: 10px;

	float: left;
}



@keyframes createBox{
	from{
		transform: scale(0);
	}
	to{
		transform: scale(1);
	}
}

.box_2{
	position: relative;

	background: #FFEDAD;

	border: black solid;
	border-width: 1px;
	border-radius: 15px;

	width: 98px;
	height: 98px;

	margin: 10px;

	float: left;
}

.box_4_gen{

	animation-duration: 0.25s;
	animation-name: createBox;

	position: relative;

	background: #FFDE67;

	border: black solid;
	border-width: 1px;
	border-radius: 15px;

	width: 98px;
	height: 98px;

	margin: 10px;

	float: left;
}


.box_4{

	position: relative;

	background: #FFDE67;

	border: black solid;
	border-width: 1px;
	border-radius: 15px;

	width: 98px;
	height: 98px;

	margin: 10px;

	float: left;
}

.box_8{

	position: relative;

	background: #FFC908;

	border-radius: 15px;
	border: black solid;
	border-width: 1px;

	width: 98px;
	height: 98px;

	margin: 10px;

	float: left;
}

.box_16{

	position: relative;

	background: #FFAA00;

	border-radius: 15px;
	border: black solid;
	border-width: 1px;

	width: 98px;
	height: 98px;

	margin: 10px;

	float: left;
}

.box_32{

	position: relative;

	background: #FF8D00;

	border-radius: 15px;
	border: black solid;
	border-width: 1px;

	width: 98px;
	height: 98px;

	margin: 10px;

	float: left;
}

.box_64{

	position: relative;

	background: #FF7100;

	border-radius: 15px;
	border: black solid;
	border-width: 1px;

	width: 98px;
	height: 98px;

	margin: 10px;

	float: left;
}

.box_128{

	position: relative;

	background: #FF5C00;

	border-radius: 15px;
	border: black solid;
	border-width: 1px;

	width: 98px;
	height: 98px;

	margin: 10px;

	float: left;
}

.box_256{

	position: relative;

	background: #FF4000;

	border-radius: 15px;
	border: black solid;
	border-width: 1px;

	width: 98px;
	height: 98px;

	margin: 10px;

	float: left;
}

.box_512{

	position: relative;

	background: #FF1400;

	border-radius: 15px;
	border: black solid;
	border-width: 1px;

	width: 98px;
	height: 98px;

	margin: 10px;

	float: left;
}

.box_1024{

	position: relative;

	background: #FF0083;

	border-radius: 15px;
	border: black solid;
	border-width: 1px;

	width: 98px;
	height: 98px;

	margin: 10px;

	float: left;
}

.box_2048{

	position: relative;

	background: #4400FF;

	border-radius: 15px;
	border: black solid;
	border-width: 1px;

	width: 98px;
	height: 98px;

	margin: 10px;

	float: left;
}

.v{
	position: relative;
	text-align:center;

	height: 100%;

	text-align: center;
	vertical-align: middle;
	line-height:70px; 
}


/*DEALING WITH BUTTON*/

#button{
	text-align: center;
}

#start_button{
	width: 10%;
	height: 50px;
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
	background: lightgreen;
	color:black;
}
#start_button:hover{
	background:green;
	color: white;
}

#reset_button{
	width: 10%;
	height: 50px;
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
	background: pink;
	color:black;
}
#reset_button:hover{
	background:red;
	color: white;
}

#rules{
	width: 50%;
	margin-left:auto;
	margin-right:auto;
	text-align: center;

	padding-top: 2%; /*Using Rule element to pad top of content div */

	font-family: 'Hind';
	color: white;

}

#points{
	margin-top:1%;
	width: 50%;
	margin-left:auto;
	margin-right:auto;
	text-align: center;

	font-family: 'Hind';
	font-weight: 700;
	font-size: 250%;
	color:white;
}



#footer{
 	
	margin: 0px;
 	padding: 0px;

	background: #FFEDAD;

	height: 5%;

	border-top: black;
	border-width: 3px;
}

#footer_text{
	margin: 0px;

	position: center;

	border-top: black 2px;

	font-family:'Hind';
	font-weight: 300;
}
